<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="my-4">
      <h4> Create New Contact</h4>
      <form action="/contacts" class="form-inline" method="post" id="my-form">

        <div class="form-group mr-3">
          <input type="text" class="form-control <%= errors.name?'is-invalid': ''  %>" name="name" placeholder="Enter your name">
          <div class="invalid-feedback">
             <%= errors.name %>
          </div>
        </div>
        <div class="form-group mr-3">
          <input type="text" class="form-control <%= errors.email?'is-invalid': ''  %>" name="email" placeholder="Enter your email">
          <div class="invalid-feedback">
              <%= errors.email %>
          </div>
        </div>
        <div class="form-group mr-3">
          <input type="text" class="form-control <%= errors.phone?'is-invalid': '' %>" name="phone" placeholder="Enter your phone">
          <div class="invalid-feedback">
              <%= errors.phone %>
          </div>
        </div>
        <div class="form-group mr-3">
          <input type="hidden" name="id">
        </div>
        <div class="form-group mr-3">
         <input type="submit" class="btn btn-success" value="Submit" />
        </div>

        <input type="hidden" name="restore" class="btn btn-success" value="Restore" id="restore">
        

      </form>
    </div>
    <div>

       <h4> Your Contacts</h4>
       <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for (let contact of contacts) {%>
            <tr>
              
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
              <td>
                <button class="btn btn-warning btn-sm edit-btn"
                data-name="<%= contact.name %>"
                data-email="<%= contact.email %>"
                data-phone="<%= contact.phone %>"
                data-id="<%= contact._id%>"
               
                >Edit</button>
                <a href="/contacts/delete/<%= contact.id %>" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>

          <%  } %>
            
          </tbody>
        </table>


    </div>
    <script>

       window.onload=()=>{

          let editButtons = document.getElementsByClassName('edit-btn');
          let form= document.getElementById('my-form');
          let restore =  document.getElementById('restore');

          [...editButtons].forEach((btn)=>{

             btn.addEventListener('click',function(e){
                  let {name,email,phone,id} = e.target.dataset;

                  form[0].value = name;
                  form[1].value = email;
                  form[2].value = phone;
                  form[3].value=id;
                  form[4].value='Update';
                  form[5].value='Restore';
                  form[5].type='button';


              

             })

             
        })

       restore.addEventListener('click',function(e){
                 

                  form[0].value = '';
                  form[1].value = '';
                  form[2].value = '';
                  form[3].value='';
                  form[4].value='Submit';
                  form[5].value='';
                  form[5].type='hidden';


              

             })



       }
        

    </script>

  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>